/* Custom settings */
:root{
    --text-sh-: 2px 3px 2px rgba(33,33,33,0.25);
}

html{
    font-family: 'Roboto';
}

.hover\:font-bold:hover {
    font-weight: 700;
}

.text-teal{color: #28a745;}
.hover\:text-teal:hover{color: #28a745;}

.text-teal-light{color: #62b16b;}
.hover\:text-teal-light:hover{color: #62b16b;}

.bg-teal{background-color: #28a745;}
.hover\:bg-teal:hover{background-color: #28a745;}

.bg-teal-light{background-color: #62b16b;}
.hover\:bg-teal-light:hover{background-color: #62b16b;}

.text-shadow{
    text-shadow: var(--text-sh-);
}

.blur-x{filter: blur(1px);}
.blur-s{filter: blur(2px);}

.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}

.truncate-2-line{
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.truncate-3-line{
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.truncate-4-line{
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

@media (min-width: 768px){
    .md\:truncate-1-line {
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}