.marked {
    background-color: #FFF;
    color: #333;
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    word-wrap: break-word;
    line-height: 1.7;
    /* padding: 0 20px 20px 20px; */
    -webkit-font-smoothing: antialiased;
}

.marked a {
    color: #4183c4;
    text-decoration: none;
}

.marked a:hover {
    text-decoration: underline;
}

.marked p,
.marked blockquote,
.marked ul,
.marked ol,
.marked dl,
.marked table,
.marked pre {
    margin: 15px 0;
}

.marked ul,
.marked ol {
    padding-left: 30px;
    list-style: initial;
}

.marked h1 {
    /* border-bottom: 1px solid #ddd; */
    color: #000;
    font-size: 2.5em;
}

.marked h2 {
    /* border-bottom: 1px solid #eee; */
    color: #000;
    font-size: 2.0em;
}

.marked h3 {
    font-size: 1.5em;
}

.marked h4 {
    font-size: 1.2em;
}

.marked h5 {
    font-size: 1.0em;
}

.marked h6 {
    color: #777;
    font-size: 1.0em;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked h6 {
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px 0;
    color: var(--dark-4);
}

.marked h1+.marked p,
.marked h2+.marked p,
.marked h3+.marked p {
    margin-top: 10px;
}

.marked code {
    /* background-color: #F8F8F8; */
    /* border-radius: 3px; */
    /* border: 1px solid #DDD; */
    /* font-family: Consolas, "Liberation Mono", Courier, monospace; */
    /* font-size: 12px; */
    /* margin: 0 2px; */
    /* padding: 0 5px; */
    /* white-space: pre; */
}