<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- DevCorner - Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico" />

    <!-- Font-AweSome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" />
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- CSS and SCSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <!-- TailWindCSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/markdown.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/custom.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body class="mx-auto">
    <header class="grid grid-cols-12 shadow z-10 sticky top-0">
      <div class="col-span-12 bg-gray-100">            
        <div class="flex justify-between my-2 mx-4">

          <div class="flex items-center">
            <a href="{{ site.baseurl }}/" class="text-2xl font-light">
              <i class="fas fa-code text-teal" title="{{ site.brand }}"></i>
            </a>
          </div>
          
          <nav class="items-center hidden md:flex">
            <a class="mx-4 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/">Home</a>
            <a class="mx-4 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/view/myblog">myBlog</a>
            <a class="mx-4 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/view/devnotes">DevNotes</a>
            <a class="mx-4 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/view/gitrepos">GitRepos</a>
            <a class="mx-4 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/view/hobbies">Hobbies</a>
            <a class="mx-4 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/view/about">About</a>
          </nav>

          <nav class="flex items-center md:hidden">
            <button class="sidebarBtn">
              <i class="fas fa-bars text-gray-400 text-2xl"></i>
            </button>
          </nav>

          <div class="w-12 h-auto hidden lg:block">
            <a href="{{ site.baseurl }}/" class="site-avatar">
              <img src="{{ site.avatar }}" class="rounded-full" alt="avatar">
            </a>
          </div>

        </div>
      </div>
    </header>

    <div id="main" role="main" class="mainBlur mx-auto">
      <div class="grid grid-cols-12">
        <div class="col-span-12">
          <!-- _layout: -->
          {{ content }}
        </div>
      </div>
    </div>

    <!-- sidebar -->
    <div id="sidebarMenu" class="bg-teal text-blue-100 w-64 space-y-6 fixed inset-y-0 left-0 transform -translate-x-full transition duration-200 ease-in-out z-10">
      <!-- logo -->
      <span class="float-right mr-4 mt-2">
        <a href="javascript:void(0)"><i class="far fa-times-circle text-white text-2xl sidebarBtn"></i></a>
      </span>
      <span class="text-white flex items-center space-x-2 px-4">
        <a href="{{ site.baseurl }}/" class="text-2xl font-light">
          <i class="fas fa-code text-white" title="{{ site.brand }}"></i>
          <span class="text-2xl font-extrabold">{{ site.brand }}</span>
        </a>
      </span>
      <hr>
      <nav>
        <a class="block py-2.5 px-4 transition duration-200 hover:bg-teal-light text-white" href="{{ site.baseurl }}/">Home</a>
        <a class="block py-2.5 px-4 transition duration-200 hover:bg-teal-light text-white" href="{{ site.baseurl }}/view/myblog">myBlog</a>
        <a class="block py-2.5 px-4 transition duration-200 hover:bg-teal-light text-white" href="{{ site.baseurl }}/view/devnotes">DevNotes</a>
        <a class="block py-2.5 px-4 transition duration-200 hover:bg-teal-light text-white" href="{{ site.baseurl }}/view/gitrepos">GitRepos</a>
        <a class="block py-2.5 px-4 transition duration-200 hover:bg-teal-light text-white" href="{{ site.baseurl }}/view/hobbies">Hobbies</a>
        <a class="block py-2.5 px-4 transition duration-200 hover:bg-teal-light text-white" href="{{ site.baseurl }}/view/about">About</a>
      </nav>
    </div>

    <!-- footer -->
    <footer class="footerBlur mx-auto bg-gray-100 border-solid border-t-2 border-gray-200 fixed bottom-0 w-full">
      <div class="grid grid-cols-12">
        <div class="col-span-12 grid sm:flex justify-between items-center text-center sm:text-left mx-auto sm:mx-4 my-1">
          <div class="grid text-sm text-gray-500">
            <a href="{{ site.baseurl }}/" class="font-bold">
              <i class="fas fa-code text-teal" title="{{ site.brand }}"></i>
              <span class="">{{ site.brand }}</span>
            </a>
            <span>&copy; <span id="year"></span> - made by <a href="https://github.com/{{ site.footer-links.github }}" target="_blank" class="text-bold">{{ site.name }}</a></span>
          </div>

          <div class="text-sm hidden md:block">
            <a class="mx-2 text-gray-400 hover:text-gray-600 hover:font-bold" href="{{ site.baseurl }}/view/tags_and_categories">tags & categories</a>
          </div>

          <div class="flex justify-center items-center">
            {% include svg-icons.html %}
          </div>
        </div>
      </div>
    </footer>

    {% include analytics.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

  </body>
</html>
