<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Font-AweSome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />

    <!-- CDNs -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- CSS and SCSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body class="xl:container">
    <div class="mx-auto">
      <div class="grid grid-cols-12">
        <header class="col-span-12">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/pages/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="mx-auto">
      <div class="grid grid-cols-12">
        <div class="col-span-12">
          <!-- _layout: -->
          {{ content }}
        </div>
      </div>
    </div>

    <div class="mx-auto">
      <div class="grid grid-cols-12">
        <footer class="col-span-12">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
