---
layout: default
---

<section class="lg:container mx-auto my-20">
  <div class="text-gray-400 w-3/4 mx-auto">
    <h2 class="text-2xl font-bold mb-4 text-gray-500">{{ site.greet }}</h2>
    <h1 class="text-xl mb-4">{{ site.induction }}</h1>
    <h1 class="text-xl">{{ content }}</h1>
  </div>
</section>

<section class="lg:container mx-auto mb-20">
  <div class="grid grid-rows-2 grid-cols-4 gap-4 mx-16 xl:mx-auto xl:w-3/4 text-gray-400">
    <div class="col-span-4 sm:col-span-2 lg:row-span-2 lg:col-span-2">
      <small class="absolute mt-2 ml-3">Personal Notes</small>
      <img src="../../images/note.svg" class="border border-gray-200 hover:border-gray-400 rounded-lg cursor-pointer object-cover" loading="lazy" alt="../../images/note.svg">
    </div>
    <div class="col-span-4 sm:col-span-2 lg:row-span-1 lg:col-span-1">
      <small class="absolute mt-2 ml-3">Developer Notes</small>
      <img src="../../images/devnote.svg" class="border border-gray-200 hover:border-gray-400 rounded-lg cursor-pointer object-cover" loading="lazy" alt="../../images/devnote.svg">
    </div>
    <div class="col-span-4 sm:col-span-2 lg:row-span-1 lg:col-span-1">
      <small class="absolute mt-2 ml-3">GitHub Repos</small>
      <img src="../../images/repo.svg" class="border border-gray-200 hover:border-gray-400 rounded-lg cursor-pointer object-cover" loading="lazy" alt="../../images/repo.svg">
    </div>
    <div class="col-span-4 sm:col-span-2 lg:row-span-1 lg:col-span-1">
      <small class="absolute mt-2 ml-3">Interests & Hobbies</small>
      <img src="../../images/interests.svg" class="border border-gray-200 hover:border-gray-400 rounded-lg cursor-pointer object-cover" loading="lazy" alt="../../images/interests.svg">
    </div>
    <div class="col-span-4 sm:col-span-2 lg:row-span-1 lg:col-span-1">
      <small class="absolute mt-2 ml-3">Behind the Scenes</small>
      <img src="../../images/behind.svg" class="border border-gray-200 hover:border-gray-400 rounded-lg cursor-pointer object-cover" loading="lazy" alt="../../images/behind.svg">
    </div>
  </div>
</section>