---
layout: default
---

<div class="mt-4 mx-4 sticky top-20">
  <div class="flex justify-between">
      <a class="invisible lg:visible border border-gray-300 border-solid cursor-pointer hover:border-green-400 linkPag pr-4 px-3 py-1 rounded-full text-gray-500" onclick="window.history.back()"  title="Recent page">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a class="invisible lg:visible border border-gray-300 border-solid cursor-pointer hover:border-green-400 linkPag px-3 py-1 rounded-full text-gray-500" href="{{site.url}}"  title="Back to main">
        <i class="fas fa-chevron-up"></i>
      </a>
  </div>
</div>

<article class="lg:container mx-auto mb-32 sm:mb-20">
  <div class="grid grid-cols-12 gap-4 mx-4 sm:mx-16 text-gray-500">

    <div class="col-span-12">
      <h2 class="text-2xl font-medium">{{ page.title }}</h2>
      <div class="grid xl:flex justify-between">
        <small class="truncate-2-line md:truncate-1-line h-full pr-4 xl:pr-16"><i class="far fa-calendar-check mr-1 text-teal"></i>{{ page.date | date_to_long_string }}</small>
        <span class="flex flex-wrap xl:flex-nowrap items-end mt-2 xl:mt-0">
          {% for tag in page.tags %}
            <small class="flex whitespace-nowrap text-gray-400 mr-4 xl:mr-0 xl:ml-4"><i class="fas fa-hashtag py-0.5 text-teal"></i>{{ tag }}</small>
          {% endfor %}
        </span>
      </div>
      <div class="marked text-justify mt-8">{{ content }}</div>
    </div>

    <div class="col-span-12">
      <div class="flex justify-between">
        {% if page.previous.url %}
          <a class="linkPag border border-gray-300 border-solid hover:border-green-400 prev px-2 py-1 rounded" href="{{page.previous.url}}">
            <i class="fas fa-chevron-left mr-2"></i><span class="hidden xl:inline-flex">{{page.previous.title}}</span>
          </a>
        {% endif %}
        {% if page.next.url %}
          <a class="linkPag border border-gray-300 border-solid hover:border-green-400 prev px-2 py-1 rounded" href="{{page.next.url}}">
            <span class="hidden xl:inline-flex">{{page.next.title}}</span><i class="fas fa-chevron-right ml-2"></i>
          </a>
        {% endif %}
      </div>
    </div>

  </div>
</article>
