---
layout: page
title: About
description: "My personal journey to becoming a front-end web and multimedia developer"
---

<!-- about -->
<section class="col-span-12">
  <h1 class="text-2xl text-gray-500 mt-8">{{ page.title }}</h1>
  <small class="truncate mb-4">{{ page.description }}</small>
  <hr class="">
</section>

{% assign about = site.about | sort: 'date' | reverse %}
{% for item in about %}
  <section class="col-span-12 bg-gray-50 rounded-lg border border-solid border-gray-100 hover:border-gray-300">
    <a href="{{ item.url }}">
      <div class="p-4">
        <div class="grid lg:flex md:justify-between">
          <h2 class="text-2xl font-medium">{{ item.title }}</h2>
          <small class="text-gray-400"><i class="far fa-calendar-check mr-1 text-teal"></i>{{ item.date | date_to_long_string }}</small>
        </div>
        <div class="grid xl:flex justify-between">
          <p class="truncate-2-line md:truncate-1-line h-full pr-4 xl:pr-16">{{ item.description }}</p>
          <span class="flex flex-wrap xl:flex-nowrap items-end mt-2 xl:mt-0">
            {% for tag in item.tags %}
              <small class="flex whitespace-nowrap text-gray-400 mr-4 xl:mr-0 xl:ml-4"><i class="fas fa-hashtag py-0.5 text-teal"></i>{{ tag }}</small>
            {% endfor %}
          </span>
        </div>
      </div>
    </a>
  </section>
{% endfor %}