---
layout: page
title: My GitHub Repositories
description: Below you can find all my official GitHub repository
---

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/repos.js"></script>

<!-- GitHub repos -->
<section class="col-span-12">
  <h1 class="text-2xl text-gray-500 mt-8">{{ page.title }}</h1>
  <small class="mb-4">{{ page.description }}</small>
  <hr class="">
  <small class="text-gray-400 float-right mt-1">in total of <span id="repoNumber"></span> repositories</small>
</section>

<section id="repos" class="col-span-12"></section>
