---
layout: page
title: My posts from
description: Personal interest and stuffs
---

<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/devToPosts.js"
></script>

<!-- myBlog -->
<section class="col-span-12">
  <h1 class="text-2xl text-gray-500 mt-8">
    {{ page.title }}
    <a href="https://dev.to/r4nd3l" target="_blank" class="hover:text-teal"
      >dev.to</a
    >
  </h1>
  <small class="mb-4">{{ page.description }}</small>
  <hr class="" />
  <small class="text-gray-400 float-right mt-1"
    >in total of <span id="postsNumber"></span> posts</small
  >
</section>

<section id="posts" class="col-span-12"></section>
