---
layout: page
title: Tags
---

<!-- Tags -->
<section class="col-span-12">
  <h1 class="text-2xl text-gray-500 mt-8 mb-4">Tags</h1>  
  <hr class="">
</section>
  
<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">myBlog tags</h2>
  {% assign tags =  site.myblog | map: 'tags' | join: ','  | split: ',' | uniq %}
  {% for tag in tags %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ tag }}</h3>
      <ul>
      {% for myblog in site.myblog %}
        {% if myblog.tags contains tag %}
        <li><a href="{{ site.baseurl }}{{ myblog.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ myblog.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">DevNotes tags</h2>
  {% assign tags =  site.devnotes | map: 'tags' | join: ','  | split: ',' | uniq %}
  {% for tag in tags %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ tag }}</h3>
      <ul>
      {% for devnotes in site.devnotes %}
        {% if devnotes.tags contains tag %}
        <li><a href="{{ site.baseurl }}{{ devnotes.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ devnotes.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">Hobbies tags</h2>
  {% assign tags =  site.hobbies | map: 'tags' | join: ','  | split: ',' | uniq %}
  {% for tag in tags %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ tag }}</h3>
      <ul>
      {% for hobbies in site.hobbies %}
        {% if hobbies.tags contains tag %}
        <li><a href="{{ site.baseurl }}{{ hobbies.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ hobbies.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">About tags</h2>
  {% assign tags =  site.about | map: 'tags' | join: ','  | split: ',' | uniq %}
  {% for tag in tags %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ tag }}</h3>
      <ul>
      {% for about in site.about %}
        {% if about.tags contains tag %}
        <li><a href="{{ site.baseurl }}{{ about.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ about.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>


<!-- Categoires -->
<section class="col-span-12">
  <h1 class="text-2xl text-gray-500 mt-8 mb-4">Categories</h1>  
  <hr class="">
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">myBlog categories</h2>
  {% assign categories =  site.myblog | map: 'categories' | join: ','  | split: ',' | uniq %}
  {% for categorie in categories %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ categorie }}</h3>
      <ul>
      {% for myblog in site.myblog %}
        {% if myblog.categories contains categorie %}
        <li><a href="{{ site.baseurl }}{{ myblog.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ myblog.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">DevNotes categories</h2>
  {% assign categories =  site.devnotes | map: 'categories' | join: ','  | split: ',' | uniq %}
  {% for categorie in categories %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ categorie }}</h3>
      <ul>
      {% for devnotes in site.devnotes %}
        {% if devnotes.categories contains categorie %}
        <li><a href="{{ site.baseurl }}{{ devnotes.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ devnotes.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">Hobbies categories</h2>
  {% assign categories =  site.hobbies | map: 'categories' | join: ','  | split: ',' | uniq %}
  {% for categorie in categories %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ categorie }}</h3>
      <ul>
      {% for hobbies in site.hobbies %}
        {% if hobbies.categories contains categorie %}
        <li><a href="{{ site.baseurl }}{{ hobbies.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ hobbies.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>

<section class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
  <h2 class="text-xl font-bold">About categories</h2>
  {% assign categories =  site.about | map: 'categories' | join: ','  | split: ',' | uniq %}
  {% for categorie in categories %}
  <div class="my-3">
      <h3 class="text-sm"><i class="fas fa-hashtag"></i>{{ categorie }}</h3>
      <ul>
      {% for about in site.about %}
        {% if about.categories contains categorie %}
        <li><a href="{{ site.baseurl }}{{ about.url }}" class="text-lg text-gray-400 hover:text-gray-500">{{ about.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>
